<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <link rel="stylesheet" href="./css/styles.css"> --}}
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <script src="/js/app.js"></script>
    <link rel="icon" type="image/png" href='img/cticon.png'>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    {{>header}}
    <div class="container">
        <h3>Help Steps</h3>
        <h4 style="margin-top:25px">Step 1. Type in the city that you want to check the weather for.</h2>
        <img src="img/help1.png" style="width:75%;">
        <h4 style="margin-top:25px">Step 2. Click the show me button.</h2>
        <img src="img/help2.png" style="width:75%;">
        <h1 style="margin-top:50px">You're done! It's that easy.</h1>
    </div>
    {{>footer}}
</body>

</html>